<h3 class="my-5 bg-light">7日間分の件数</h3>
  <table class='table table-bordered'>
    <thead>
      <tr>
        <th>６日前</th>
        <th>５日前</th>
        <th>４日前</th>
        <th>３日前</th>
        <th>２日前</th>
        <th>１日前</th>
        <th>今日</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @progresses.created_6day_ago.count %></td>
        <td><%= @progresses.created_5day_ago.count %></td>
        <td><%= @progresses.created_4day_ago.count %></td>
        <td><%= @progresses.created_3day_ago.count %></td>
        <td><%= @progresses.created_2day_ago.count %></td>
        <td><%= @progresses.created_yesterday.count %></td>
        <td><%= @progresses.created_today.count %></td>
      </tr>
    </tbody>
  </table>
  <canvas id="myLineChart"></canvas>
  <script>
    $(document).ready(function() {
      var ctx = document.getElementById("myLineChart");
      var myLineChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: ['6日前', '5日前', '4日前', '3日前', '2日前', '1日前', '今日'],
          datasets: [
            {
              label: '件数',
              data: [
                <%= @progresses.created_6day_ago.count %>,
                <%= @progresses.created_5day_ago.count %>,
                <%= @progresses.created_4day_ago.count %>,
                <%= @progresses.created_3day_ago.count %>,
                <%= @progresses.created_2day_ago.count %>,
                <%= @progresses.created_yesterday.count %>,
                <%= @progresses.created_today.count %>
              ],
              borderColor: "rgba(0,0,255,1)",
              backgroundColor: "rgba(0,0,0,0)",
              tension: 0.4
            }
          ],
        },
        options: {
          title: {
            display: true,
            text: '7日間の件数の比較'
          },
          responsive: true,
          scales: {
            y:{
              suggestedMin: 0,
              suggestedMax: 10
            },
            x:{
              stacked: true
            },
          },
        }
      });
    });
  </script>