<table class ="table">
  <tbody>
    <tr>
      <td>従業員名</td>
      <td><%= worker.last_name %> <%= worker.first_name %></td>
    </tr>
    <tr>
      <td>ID</td>
      <td><%= worker.id %></td>
    </tr>
    <tr>
      <td>平均部数(/h)</td>
      <td><%= average.to_i %></td>
    </tr>
    <tr>
      <td>ステータス</td>
        <% if worker.is_deleted == false %>
          <td class="text-success">有効</td>
        <% elsif %>
          <td class="text-danger">退会</td>
        <% end %>
    </tr>
  </tbody>
</table>

<div class='row'>
  <%= link_to  edit_admin_worker_path(worker), class: "btn btn-outline-secondary btn-block" do %>
    <i class="fas fa-user-cog"></i>
  <%end%>

  <%= link_to '実績', admin_worker_index_path(worker), class: 'btn btn-success my-3' %>
</div>