<div class="container">
  <div class="row">
    <h3 class="m-3 bg-light">
      <%= @worker.last_name %><%= @worker.first_name %>さんの会員情報編集画面
    </h3>
  </div>
  <%= form_with model: [:admin,@worker] do |f| %>
    <div class="field row">
      <div class="col-2"><%= f.label :worker_id, "会員ID" %></div>
      <div class="col-6"><%= @worker.id %></div>
    </div>
    <div class="field row">
      <div class="col-2"><%= f.label :name, "氏名" %></div>
      <div class="col-6 form-inline">
        <%= f.text_field :last_name, class: "form-control mr-2 mb-2" %>
        <%= f.text_field :first_name, class: "form-control mb-2" %>
      </div>
    </div>
    
    <div class="field row">
      <div class="col-2"><%= f.label :email, "メールアドレス" %></div>
      <div class="col-6"><%= f.email_field :email, autocomplete: "email", class: "form-control mb-2" %></div>
    </div>
    
    <div class="field row">
      <div class="col-2"><%= f.label :is_deleted, "会員ステータス" %></div>
      <div class="col-6">
        <%= f.radio_button :is_deleted, true %>
        <%= f.label :is_deleted, "退会", value: true %>
        <%= f.radio_button :is_deleted, false %>
        <%= f.label :is_deleted, "有効", value: false %>
       </div>
    </div>
    <div class="field row">
      <div class="col-2"></div>
      <div class="col-6 mb-5 mt-3"><%= f.submit "変更を保存", class: "btn btn-success" %></div>
    </div>
  <% end %>
</div>