<div class="container">
  <div class="row">
    <h3 class="my-5 bg-light">従業員一覧</h3>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-10">

      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th>ID</th>
            <th>名前</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <% @workers.each do |worker| %>
        <tbody>
          <tr>
            <td><%= worker.id %></td>
            <td>
              <%= link_to admin_worker_path(worker.id) do%>
                <%= worker.last_name %> <%= worker.first_name %>
              <%end%>
            </td>
            <% if worker.is_deleted == false %>
              <td class="text-success">有効</td>
            <% elsif %>
              <td class="text-danger">退会</td>
            <% end %>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
    <%= paginate @workers %>
  </div>
</div>