<% if @progress.begin_time == nil %>
  <div class="row mt-5">
    <div class="col-10 offset-1">
      <h4 class="bg-light px-2 text-center">タイマー</h4>
    </div>
  </div>

  <div class="row justify-content-center mt-5">
    <div class="col-md-2">
      <%= form_with model: @progress, url: progresses_start_path, method: :patch do |f| %>
        <%= f.hidden_field :progress_id %>
        <%= f.submit '開始', class: "btn btn-success" %>
      <%end%>
    </div>

    <div class="col-md-2">
      <%= form_with model: @progress, url: progresses_finish_path, method: :patch do |f| %>
        <%= f.hidden_field :progress_id %>
        <%= f.submit '完了', class: "btn btn-secondary", disabled: true %>
      <%end%>
    </div>
  </div>

<% elsif @progress.end_time == nil %>
  <div class="row mt-5">
    <div class="col-10 offset-1">
      <h4 class="bg-light px-2 text-center">タイマー</h4>
    </div>
  </div>

  <div class="row justify-content-center mt-5">
    <div class="col-md-2">
      <%= form_with model: @progress, url: progresses_start_path, method: :patch do |f| %>
        <%= f.hidden_field :progress_id %>
        <%= f.submit '開始', class: "btn btn-secondary", disabled: true %>
      <%end%>
    </div>
    <div class="col-md-2">
      <%= form_with model: @progress, url: progresses_finish_path, method: :patch do |f| %>
        <%= f.hidden_field :progress_id %>
        <%= f.submit '完了', class: "btn btn-success" %>
      <%end%>
    </div>
  </div>
<%else%>
<!--タイマー非表示-->
<%end%>
