<div class="container">
  <%= render 'timer', progress: @progress %>
  <div class="row justify-content-center my-5">
    <div class="col-md-10">
      <h4 class="bg-light px-2">部数変更</h4>
      <%= form_with model: @progress do |f| %>
        <div class="row my-4 form-group">
          <%= f.label "部数", class: "col-sm-2 col-form-label" %>
          <div class="col-sm-6">
          <%= f.number_field :product_count, class: "form-control" %>
          </div>
          <%= f.submit "部数を変更する", class: "btn btn-success" %>
        </div>
      <%end%>
    </div>
  </div>
</div>
