<div class="container mt-5 mb-5">
  <div class="row">
    <h3 class="bg-light">商品詳細</h3>
  </div>
  <div class="row">
    <table class="table table-hover table-inverse">
      <tbody>
        <tr>
          <td>商品ID</td>
          <td><%= @product.id %></td>
        </tr>
        <tr>
          <td>商品名</td>
          <td><%= @product.name%></td>
        </tr>
        <tr>
          <td>工程</td>
          <td><%= @product.production_process.name %></td>
        </tr>
        <tr>
          <td>商品説明</td>
          <td><%= @product.introduction %></td>
        </tr>
      </tbody>
    </table>
    <%= form_with model: @progress do |f| %>
    <div class="row my-4 form-group">
      <%= f.hidden_field :product_id, :value => @product.id %>
      <%= f.label "部数", class: "col-sm-2 col-form-label" %>
      <div class="col-sm-6">
      <%= f.text_field :product_count,class: "form-control", placeholder: '例)1000'%>
      </div>
      <%= f.submit 'この商品を開始する', class: "btn btn-success my-3" %>
    <% end %>
    </div>
  </div>
