<div class="container">
  <div class="row">
    <h3 class="my-5 bg-light">商品一覧</h3>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-10">

      <div class="row">
        <%= link_to new_admin_product_path, class: "text-dark mb-2" do %>
          <i class="fas fa-plus"></i> 商品新規登録
        <%end%>
      </div>

      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>工程</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <% @products.each do |product| %>
        <tbody>
          <tr>
            <td><%= product.id %></td>
            <td>
              <%= link_to product.name, admin_product_path(product.id) %>
            </td>
            <td><%= product.production_process.name %></td>
            <td></td>
            <td>
              <%= link_to '編集する', edit_admin_product_path(product.id), class: "btn btn-success" %>
            </td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
    <%= paginate @products %>
  </div>
</div>