<table class ="table" id="worker-table">
  <tbody>
    <tr>
      <th>従業員名</th>
      <td><%= worker.last_name %>　<%= worker.first_name %></td>
    </tr>
    <tr>
      <th>ID</th>
      <td><%= worker.id %></td>
    </tr>
    <tr>
      <th>平均部数(/h)</th>
      <td><%= average.to_i %>　部/(h)</td>
    </tr>
  </tbody>
</table>

<div class='row'>
    <% if current_worker == worker %>
      <%= link_to  edit_worker_path(worker), class: "btn btn-outline-secondary btn-block " do %>
        <i class="fas fa-user-cog"></i>
      <%end%>
    <%end%>
    <%= link_to '実績', worker_index_path(worker), class: 'btn btn-success my-3' %>
</div>